.git
.gitignore
.gitattributes
README.md
README-*.md
docker-compose*.yml
.dockerignore
.env.example
.env.testing
node_modules
npm-debug.log
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/app/public
bootstrap/cache/*
!bootstrap/cache/.gitignore
.vscode
.idea
*.swp
.DS_Store
tests
