@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------------------------- */
[x-cloak] { display: none; }
/* -------------------------------------------- */
/* User image + ribbon overlay                  */
/* -------------------------------------------- */
.user-image {
  position: relative;
  z-index: 0;
}
/* -------------------------------------------- */
.ribbon {
  --f: 5px;   /* control the folded part*/
  --r: 5px;   /* control the ribbon shape */
  --b: 2px;   /* control the bottom offset */
  
  position: absolute;
  inset: auto calc(-1*var(--f)) var(--b) auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f)/2));
  background: #BD1550;
  color: #FFFFFF;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
}
/* -------------------------------------------- */
#nprogress .bar {
    background: red !important;
}