[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# Support for Recursive CTE (required for genealogy app)
cte_max_recursion_depth = 1000

# Performance optimization
max_allowed_packet = 256M
innodb_buffer_pool_size = 256M
max_connections = 200
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
