[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log

# Support for Recursive CTE
cte_max_recursion_depth = 1000

# Performance optimization
max_allowed_packet = 256M
innodb_buffer_pool_size = 256M
